@import "fonts";
//reg

.reg{
   position: fixed;
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   display: flex;
   align-items: center;
   justify-content: center;
   background: #000000c2;
   z-index: 10;

   &__wrap{ 
      position: relative;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      background: #ffffff;
      border-radius: 20px;
      padding: 37px 48px;
      gap: 20px;
      max-width: 333px;
      width: 100%;
   }

   &__title{
      @include light;
      position: relative;
      font-size: 20px;
      color: #000000;
      text-transform: uppercase;
   }

   &__form{
      margin-top: 25px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 26px;
   }

   &__input{
      font-size: 16px;
      color: #000000;
      background: transparent;
      max-width: 333px;
      border: 0;
      padding: 0px 5px 12px 5px;
      border-bottom: 1px #000000 solid;
      &:focus{
         outline: none;
      }
      &::placeholder{
         color: #000000;
      }
   }

   &__btn{
      background: #F66A15;
      opacity: 0.7;
      text-transform: uppercase;
      font-size: 16px;
      color: #000000;
      margin-top: 10px;
      padding: 10px;
      transition:  0.3s;
      border:0;
      &:hover{
         transform: scale(1.05);
         opacity: 1;
      }
   }
}


//user
.user{
   @include light;
   position: fixed;
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   display: flex;
   align-items: center;
   justify-content: center;
   background: #000000c2;
   z-index: 10;

   &__wrap{ 
      position: relative;
      display: flex;
      flex-direction: column;
      background: #ffffff;
      border-radius: 20px;
      padding: 37px 48px;
      gap: 15px;
      max-width: 333px;
      width: 100%;
   }

   &__name{
      display: flex;
      align-items: end;
      justify-content: start;
      color: #000000;
      text-transform: uppercase;
   }

   &__phone{
      color: #000000;
      text-transform: uppercase;
      padding-bottom: 10px;
      border-bottom: 1px #a6a6a64f solid;
   }

   &__items{
      display: flex;
      flex-direction: column;
      gap: 20px;
   }

   &__item{
      cursor: pointer;
      border-bottom: 1px #a6a6a64f solid;
      padding-bottom: 8px;
      display: flex;
      align-items: center;
      gap: 10px;
      &:hover{
         border-bottom: #000000 1px solid;
      }
   }


   &__btn{
      @include regular;
      font-size: 16px;
      border-radius: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #F66A15;
      opacity: 0.7;
      color: #000000;
      text-transform: uppercase;
      padding: 10px;
      transition:  0.3s;
      border:0;
      &:hover{
         opacity: 1;
      }
   }
}

.pay{
   position: fixed;
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   display: flex;
   align-items: center;
   justify-content: center;
   background: #000000c2;
   z-index: 10;

   &__wrap{
      @include regular;
      position: absolute;
      background: #ffffff;
      padding: 20px;
      border-radius: 20px;
      gap: 20px;
   }

   &__form-adress{
      @include bold;
      font-size: 20px;
   }
   
   &__form{
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 100%;
      max-width: 400px;
      min-width: 200px;
   }

   &__wrap-input{
      display: flex;
      flex-direction: column;
      
   }

   &__input{
      display: flex;
      max-width: 400px;
      min-width: 200px;
      width: 100%;
   }

   &__card{

   }
   &__btn{

   }
}

// main  .pay{
//    overflow-y: hidden;
//  }

