// settings
*, *::after, *::before{
    box-sizing: border-box;
}

body{
    margin: 0;
    background: #F2F2F2;
  }

img{
    object-fit: contain;
    flex-shrink: 0;
    overflow: hidden;
}

p{
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

button{
    @include regular;
    cursor: pointer;
    border-radius: 50px;
    color: #000000;
    background: #F2F2F2;
    border: 1px solid #a6a6a6;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}
li,ul{
    list-style: none;
    padding: 0;
    margin: 0;
}